@font-face {
    font-family: Roboto-Regular;
    src: url('../font/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../font/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../font/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: NotoSans-Bold;
    src: url('../font/Noto_Sans/NotoSans-Bold.ttf');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

input {
    width: 100%;
}

a {
    text-decoration: none;
    color: #3F51B5;
    font-family: Roboto-Medium;
    font-size: medium;
}

a:hover, a:focus {
    color: #8C9EFF;
    text-decoration: none;
}

.header {
    font-family: Roboto-Medium;
    background-color: #3F51B5;
    padding: 0 4px;
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0px;
    z-index: 1030;
    box-shadow: 0 6px 15px 1px rgba(0, 0, 0, 0.3);
}

.toolbar {
    float: right;
    padding: 8px 0;
}

.toolbar > ul {
    margin: 0;
    padding: 0;
}

.toolbar > ul > li {
    float: left;
    list-style-type: none;
}

.toolbar > ul > li > a {
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 0;
    padding: 5px 10px;
    display: inline-block;
}

.toolbar > ul .link button {
    letter-spacing: 0;
    text-transform: uppercase;
    border-width: 0;
    font-size: 1em;
    color: #FF80AB;
    border-radius: 2px;
    display: inline-block;
    padding: 10px 20px;
}

/*-------------Ripple Effect---------------*/
.ripple {
    display: inline-block;
    background-color: transparent;
    position: relative;
    overflow: hidden;
}

.ripple-effect{
    position: absolute;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #cccccc;

    animation: ripple-animation 1.3s;
}

@keyframes ripple-animation {
    from {
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        transform: scale(100);
        opacity: 0;
    }
}
/*---------------------------------------*/

h1 {
    margin: 0;
    width: 60%;
    font-family: NotoSans-Bold;
    text-transform: uppercase;
    color: white;
    z-index: 2;
}

.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    width: 100%;
    height: 250px;
    background-image: url('../img/Hektor_hostel_two_rooms.jpg');
    background-size: 100% 100%;
}

.header-image::after {
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 305px;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
}

h2 {
    font-family: Roboto-Medium;
    font-weight: bold;
    color: #3F51B5;
}

h4 {
    font-family: Roboto-Bold;
    color: rgba(0, 0, 0, 0.87);
}

.card {
    border-radius: 4px;
    padding: 16px;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

.card img {
    position: relative;
    margin-top: -30px;
    border-radius: 4px;
    width: 100%;
    /*height: 100%;*/
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

.card-content > .links > a, .card-content > .links > button {
    display: inline-block;
    float: left;
    padding: 10px 20px;
    margin: 8px 0;
    font-family: Roboto-Medium;
    text-transform: uppercase;
    color: #FF4081;
    border-radius: 2px;
    outline: none;
    border-width: 0;
}

.card .links {
    margin-top: 16px;
}

.card .links button, .card .links a {
    float: left;
}

.card-content form * {
    display: block;
}

.card-content form .inline {
    display: inline;
}

.card-content form .closed {
    display: none;
}

.card-content form .opened {
    display: block;
}

.text-content > p {
    font-family: Roboto-Regular;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 16px;
}

.card > .card-content > .text-content > p.description,
aside > .card p,
aside > .card ul li {
    color: rgba(0, 0, 0, 0.54);
}

.error-message {
    color: #db1b1f;
}

.success-message {
    color: #236327;
}

.btn-link {
    padding: 8px 16px;
    margin: 0;
    text-transform: uppercase;
    font-family: Roboto-Medium;
    color: #FF4081;
    outline: none;
    background-color: transparent;
}

.btn-link:hover {
    cursor: pointer;
    text-decoration: none;
    color: #FF4081;
}

.btn-link-default {
    padding: 8px 16px;
    margin: 0;
    text-transform: uppercase;
    font-family: Roboto-Medium;
    color: rgba(0, 0, 0, 0.54);
    outline: none;
    background-color: transparent;
}

.btn-link-default:hover {
    cursor: pointer;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
}

.btn-link.form-link.round {
    padding: 8px 8px;
    font-size: 1.2em;
}

.btn-link.form-link {
    color: #536DFE;
    padding: 8px 8px;
}

#collapsed-block a {
    display: inline-block;
}

#paid {
    transform:scale(1.3);
    opacity:0.9;
    cursor:pointer;
}

/*---------Dropdown Menu----------*/
.dropdown-toggle {
    text-transform: uppercase;
    color: white;
    font-size: 1em;
    letter-spacing: 0;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 2px;
}

.dropdown-menu {
    min-width: inherit;
}

.dropdown-menu li > form {
    padding-right: 10px;
    margin-bottom: 0;
}

.dropdown-menu li > form > button {
    background-color: transparent;
    font-size: 13px;
    padding: 10px 20px;
    margin: 0 5px;
    text-transform: uppercase;
    text-align: left;
    display: block;
    border: 0 hidden;
    width: 100%;
    border-radius: 2px;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

.dropdown-menu {
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.dropdown-menu .divider {
    background-color: rgba(0, 0, 0, 0.12);
}

.dropdown-menu li > form > button:hover,
.dropdown-menu li > form > button:focus {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu li form button:hover,
.dropdown-menu li form button:focus,
.dropdown-menu li form button:active {
    background-color: #3F51B5;
    color: #FFFFFF;
}

.dropdown-menu .divider {
    margin: 5px 0;
}

@media (min-width: 992px) {
    .dropdown .dropdown-menu {
        -webkit-transition: all 150ms linear;
        -moz-transition: all 150ms linear;
        -o-transition: all 150ms linear;
        -ms-transition: all 150ms linear;
        transition: all 150ms linear;
        margin-top: -20px;
        opacity: 0;
        visibility: hidden;
        display: block;
    }
    .dropdown.open .dropdown-menu {
        opacity: 1;
        visibility: visible;
        margin-top: 1px;
    }
}
/*--------------------------------*/

/*---------- Navigation Drawer ------------*/
.nav-icon {
    float: left;
    padding: 11px 20px;
    margin: 7px 0;
    cursor: pointer;
}

#overlay {
    background: 0 0 rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    width: 100%;
    z-index: 1040;
}

nav {
    height: 100%;
    padding: 0;
    position: fixed;
    top: 0; left: -400px;
    -moz-transition: all 0.2s linear 0s;
    -webkit-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    width: 0;
    z-index: 1500;
    background-color: white;
}

nav.slide-in {
    left: 0;
    overflow-y: auto;
    width: 256px;
    z-index: 1500;
}

nav .menu-item {
    display: block;
}

.menu {
    padding: 0;
}

.menu-header {
    width: 100%;
    padding: 54px 0 16px 16px;
    background-image: url('../img/material_bg.jpg');
    background-size: 100% 100%;
}

.menu-header > a p {
    font-family: Roboto-Medium;
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 5px;
    padding-left: 10px;
}

.menu .menu-header .link {
    font-family: Roboto-Medium;
    font-size: 1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px 15px;
    margin-bottom: 8px;
}

.menu .menu-header .link:hover {
    background-color: transparent;
    border-bottom: 3px solid rgba(256, 256, 256, 0.7);
}

.card-content .inline {
    display: inline-block;
}
/*-----------------------------------------*/

.img-eddition * {
    float: right;
}

@media (min-width: 980px) {
    .header {
        height: 64px;
    }
}

@media (min-width: 768px) {
    body {
        padding-top: 64px;
    }

    .header {
        padding: 0 16px;
    }

    .logo {
        padding: 14px 0;
    }

    .logo > a {
        font-size: 1em;
    }

    .toolbar {
        padding: 12px 0;
    }

    .toolbar > ul > li > a {
        font-size: 1em;
        padding: 10px 20px;
    }

    .btn {
        padding: 10px 20px;
    }

    .toolbar > ul > li > .btn > a > p {
        font-size: 1em;
    }

    .header-image {
        margin-top: 0;
        height: 574px;
    }

    .header-image::after {
        height: 638px;
    }

    h1 {
        width: auto;
        font-size: 4em;
    }

    /*---------- Navigation Drawer -----------*/
    /*.menu-header > a p {*/
        /*font-size: 1em;*/
    /*}*/
    /*----------------------------------------*/

    h2 {
        margin: 60px 0;
        font-size: 3em;
    }

    .card {
        padding: 24px 16px 16px 16px;
        margin-top: 70px;
        width: 100%;
    }

    aside > .card {
        margin-top: 20px;
    }

    .card img {
        margin-top: -60px;
        width: 40%;
    }

    .text-content p {
        float: left;
        margin-right: 40px;
    }
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }